.titleSection {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
}

.commandSection {
    margin-top: 25px;
    width: 100%;
}

.courseSection {
    width: 100%;
}

.pageTitleContainer {
    width: 80%;
    margin: auto;
}
.pageTitle {
    font-weight: 400;
    font-family: 'Rubik';
    font-weight: 600;
}



